
body {
    background-image: url(/media/DESKTOP-WALLPAPER-4K-RICK-AND-MORTY.png);
    background-size:cover;
    background-position: center;

}

h1{
    display: flex; 
    justify-content: center;
    font-size:128px;
    font-family: rickandmorty;    
    -webkit-text-stroke: 0.1px #A3D12A;
    color: #00AEC4;
    padding:0;
    margin:0;
}

#season-6 {
    font-family: rickandmorty;    
    -webkit-text-stroke: 0.1px #A3D12A;
    color: #00AEC4;
    font-size:128px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
img {
    border-radius:8px;
    margin-left:28px;

}

.mini {
    display:flex;
    justify-content: center;
}
 
h2 {
    display:flex;
    justify-self: center;
    font-family: rickandmorty;
    font-size:32px;
}

h3 {
    font-size:20px;
    font-family:adultswim;
   
}
p {
    font-size:16px;
    font-family:adultswim;
}
#episode-list {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    color:white;
}

#previous {
    position: absolute;
    top: 0px;
    left: 0px;
    width:32px;
    height:32px;
    transition: all 0.3s ease-in-out;
}

#previous:hover {
    filter: brightness(70%); 
    transform: scale(1.1);
}
@font-face {
    font-family: getSwchifty;
    src: url("../fonts/get_schwifty__a_rick_and_morty_font_by_jonizaak-dajw4u8.ttf");
}

@font-face {
    font-family: adultswim;
    src: url("../fonts/_adult_swim_font__by_esteveztheart-dbj9by8.ttf");
}

@font-face {
    font-family: rickandmorty;
    src: url("../fonts/rick_and_morty_by_shittychan-d9h2vl6.ttf");
}

@font-face {
    font-family: regular;
    src: url("../fonts/Calligraphr-Regular.ttf");
}